* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    /* margin:auto; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* flex-shrink:0; */
    flex: 1;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    max-width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgb(109, 102, 86);
    position: relative;
    border-radius: 5px;

}
#heading{
    position:absolute;
    top:0;
    font-family: cursive;
    color:#65430b;
    text-shadow: 1px 3px 4px #727a07;
}

.outer-box {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    margin: auto;
    width: 80%;
    height: 70%;
    position: relative;
    display: flex;
    border-radius: 5px;
    /* justify-content: center;
    align-items: center; */


}

.inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

}

p {
    margin: 0 10px;
    padding: 10px;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px;
}

.text {
    display: flex;
}

#author {
    position: absolute;
    right: 0;
    bottom: 100px;
    text-shadow: 1px 3px 4px #727a07;
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
}

#quotes {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 3px 4px #727a07;
    font-size: 1.2rem;
    font-family: cursive;
}

.btn-2 {
    border: none;
    color: black;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 10%, rgba(253, 187, 45, 1) 100%);
    position: absolute;
    bottom: 0;
    padding: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: cursive;

}
@media (width<=725px) {
    .container{
        max-width:500px;
    }
    
}
@media (300px<=width<=515px) {
    .container{
        max-width:250px;
    }
    #quotes{
        font-size: 0.8rem;
    }
    #author{
        font-size: 0.5rem;
    }
}
@media (200px<=width<=300px) {
   
    .container{
        max-width:160px;
    }
    #quotes{
        font-size: 0.8rem;

    }
    #author{
        position: absolute;
        bottom: 60px;
        font-size: 0.5rem;
    }
    
    .btn-2{
        position: absolute;
        bottom:-70px;
    }
    
}
@media (width<200px) {
    .container{
        max-width:150px;
    }
    #quotes{
        font-size: 0.9rem;
    }
    #author{
        font-size: 0.8rem;
        position: absolute;
        bottom:30px;
    }
    .btn-2{
        position: absolute;
        bottom:-70px;
    }
}